div{
    display: inline-block;
    
    width: 200px;
    height: 200px;
    font-size: 0px;
}    

.Vermelho{
    display: inline-block;
    border: 1px solid black;
    background-color: red;
    width: 130px;
    height: 100px;
}

.Azul{
    background-color: blue;
    display: inline-block;
    border: 1px solid black;
    width: 130px;
    height: 100px;
}

.Verde{
    display: inline-block;
    border: 1px solid black;
    background-color: green;
    width: 130px;
    height: 100px;
}

.Amarelo{
    display: inline-block;
    border: 1px solid black;
    background-color: yellow;
    width: 130px;
    height: 100px;
}
#borda{
    border: 1px solid black;
}

